<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B731C4CC1DF5DB9D00E8E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B731C4E01DF5DB9E00E8E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B731C4EB1DF5DB9E00E8E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
